<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    {% load static %}
    <!-- CSS -->

    <!-- <link rel="stylesheet" type="text/css" href="{% static 'app_name/css/style.css' %}"> -->
    <title>Lil Tarot Loverz</title>
</head>

<body>

    <div class="row">
        <div class="col-md-12">
            <h1>Lil Tarot Loverrz</h1>
        </div>
    </div>

    <div class="row">
        <h1>New Registration:</h1>
        {% if messages %}
        <ul class='messages'>
            {% for message in messages %}
            <li {% if message.tags %} class='{{message.tags}}' {% endif %}>
                {{message}}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        <div class="col-md-6">
            <form action='user/register' method='POST'>
                {% csrf_token %}
                
                First name: <input type='text' name='first_name'><br>
                Last name: <input type='text' name='last_name'><br>
                City, State: <input type='text' name='city_state'><br>
                Email: <input type='email' name='email'><br>
                Password: <input type='password' name='password'><br>
                Confirm Password: <input type='password' name='confirm_password'><br>
                <input type='Submit'>
            </form>
        </div>
    </div>
    <h1>Log in:</h1>
    <form action='user/login' method='POST'>
        {% csrf_token %}
        Email: <input type='email' name='email'><br>
        Password: <input type='password' name='password'><br>
        <input type='Submit'>
    </form>
</body>

</html>