<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    {% load static %}
    <!-- CSS -->

    <!-- <link rel="stylesheet" type="text/css" href="{% static 'app_name/css/style.css' %}"> -->
    <title>Lil Tarot Loverz</title>
</head>

<body>

    <div class="row">
        <div class="col-md-12">
            <h1>Lil Tarot Loverrz</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-1 col-md-4">
            <h2>New Registration:</h2>
            {% if messages %}
            <ul class='messages'>
                {% for message in messages %}
                <li {% if message.tags %} class='{{message.tags}}' {% endif %}>
                    {{message}}
                </li>
                {% endfor %}
            </ul>
            {% endif %}
            <form action='user/register' method='POST'>
                {% csrf_token %}
                <label>First name: </label><br>
                <input type='text' name='first_name' class="form-control"><br>

                <label>Last name: </label><br>
                <input type='text' name='last_name' class="form-control"><br>

                <label>City, State: </label><br>
                <input type='text' name='city_state' class="form-control" value="City, State"><br>
                
                <label>Email: </label><br>
                <input type='email' class="form-control" name='email'><br>
                
                <label>Password: </label><br>
                <input type='password' class="form-control" name='password'><br>
                
                <label>Confirm Password: </label><br>
                <input type='password' class="form-control" name='confirm_password'><br>
                
                <input type='Submit'>

            </form>
        </div>
        <div class = "col-md-offset-1 col-md-3">
            <h2>Log in:</h2>
            <form action='user/login' method='POST'>
                {% csrf_token %}
                <label>Email: </label><br>
                <input type='email' class="form-control" name='email'><br>

                <label>Password: </label><br>
                <input type='password' class="form-control" name='password'><br>

                <input type='Submit'>
            </form>
        </div>
    </div>

</body>

</html>