<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- BOOTSTRAP -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  {% load static %}
  <!-- CSS -->

  <!-- <link rel="stylesheet" type="text/css" href="{% static 'app_name/css/style.css' %}"> -->
  <title>Lil Tarot Loverz</title>
</head>
<body>
    
    <h1>Profile of {{user.first_name}} {{user.last_name}}</h1>

    <a href="/tarot">Back</a> | 
    <a href='/user/logout'>Log Out</a>


    <p>ID: {{user.id}}</p>
    <p>First Name: {{user.first_name}}</p>
    <p>Last Name: {{user.last_name}}</p>
    <p>Email: {{user.email}}</p>
    <p>Member since: {{user.created_at}}</p>

    <h2>Past Readings:</h2>
    {% for reading in readings %}
    <p>
        {{reading.created_at}}
        <br>
        <img src="{% static '/' %}{{reading.image}}" class="img-rounded popout img-fluid" alt="card back">
        
        <!-- <img src="{% static 'app_name/images/image.jpg' %}" /> -->
        <p> {{reading.name}}</p>
        <p><i>"{{reading.card_content}}"</i></p>
    </p>
    {% endfor %}
</p>


</body>
</html>