<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- BOOTSTRAP -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  {% load static %}
  <!-- CSS -->

  <!-- <link rel="stylesheet" type="text/css" href="{% static 'app_name/css/style.css' %}"> -->
  <title>Lil Tarot Loverz</title>
</head>
<body>
    

    <a href="/tarot">Back</a> | 
    <a href='/user/logout'>Log Out</a>

    <div>
        <row>
            <div>
                <h2>{{reading.user.first_name}} pulled the {{reading.cardname}}!</h2>
                <p>{{reading.category}}</p>
                <p>{{reading.card_content}}</p>
                <p>{{reading.image}}</p>
            </div>
        </row>
    </div>


    <!-- user = models.ForeignKey(User, related_name ='readings')
    cardname = models.CharField(max_length=50)
    category = models.CharField(max_length=50)
    mood = models.CharField(max_length=50)
    card_content = models.CharField(max_length=50)
    image = models.CharField(max_length=50)
    likes = models.ManyToManyField(User, blank=True, related_name='liked_reading')
    created_at = models.DateTimeField(auto_now_add=True)
    updated_at = models.DateTimeField(auto_now=True) -->
</body>
</html>