<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <!-- CSS -->
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'app_name/css/style.css' %}"> -->
    <title>Lil Tarot Loverz</title>
</head>
<body>
<h1>Welcome {{request.session.first_name}}!</h1>

<img src="{% static cards.0.image %}" >
<img src="{% static cards.1.image %}" >
<img src="{% static cards.2.image %}" >
<img src="{% static cards.3.image %}" >
<img src="{% static cards.4.image %}" >
<img src="{% static cards.5.image %}" >
<img src="{% static cards.6.image %}" >
<img src="{% static cards.7.image %}" >
<img src="{% static cards.8.image %}" >
<img src="{% static cards.9.image %}" >
<img src="{% static cards.10.image %}" >
<img src="{% static cards.11.image %}" >
<img src="{% static cards.12.image %}" >
<img src="{% static cards.13.image %}" >
<img src="{% static cards.14.image %}" >
<img src="{% static cards.15.image %}" >
<img src="{% static cards.16.image %}" >
<img src="{% static cards.17.image %}" >
<img src="{% static cards.18.image %}" >
<img src="{% static cards.19.image %}" >
<img src="{% static cards.20.image %}" >


    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">WebSiteName</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Page 1</a></li>
            <li><a href="#">Page 2</a></li>
            <li><a href="#">Page 3</a></li>
          </ul>
        </div>
      </nav>
</body>
</html>