<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- BOOTSTRAP -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  {% load static %}
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'tarot_app/css/style.css' %}">
  <title>Lil Tarot Loverrz</title>
</head>

<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Lil Tarot Loverrz</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Page 1</a></li>
        <li><a href="#">Page 2</a></li>
        <li><a href="#">Page 3</a></li>
      </ul>
    </div>
  </nav>


  <div class="row">
    <div class="hero col-md-6 col-md-offset-1">
      <h1>Claim Your Fate</h1>
      <p>This is your grand fate. The burning stars immolate the loom of destiny. The only thing certain is uncertainty.
      </p>
    </div>
    <a href="#"><img src="static/images/tarot_back.jpg" class="img-rounded" alt="card back"></a>
  </div>
  <br>
  <div class="row wall">
    <div class="col-md-12">
      <!-- for #reading# in #readings#-->
      <h2 class="wall_title col-md-12">Tarot Feed</h2>
      <div class="row">
        <div class="col-md-3">
          <img src="static/images/sun.jpg" class="img-rounded popout img-fluid" alt="card back">
          <div class="overlay">
            <div class="card_name">ZAWARUDO</div>
            <div class="user_name">Ariel</div>
            <div>Drew Likes This!</div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>