<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- BOOTSTRAP -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  {% load static %}
  <!-- CSS -->

  <!-- <link rel="stylesheet" type="text/css" href="{% static 'app_name/css/style.css' %}"> -->
  <title>Lil Tarot Loverz</title>
</head>

<body>


  <link rel="stylesheet" type="text/css" href="{% static 'tarot_app/css/style.css' %}">
  <title>Lil Tarot Loverrz</title>
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <a href="/user/logout" class="btn btn-default navbar-btn pull-right">
          Logout
        </a>
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Lil Tarot Loverrz</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/tarot">Home</a></li>
            <li><a href="/user/{{request.session.user_id}}">My Profile</a></li>
            <li><a href="/tarot/questionaire">Pick a Card</a></li>
        </ul>
      </div>

    </nav>


    <div class="row">
      <div class="hero col-md-6 col-md-offset-1">
        <h1>Welcome {{request.session.first_name}}!</h1>
        <h2>Claim Your Fate</h2>
        <p>This is your grand fate. The burning stars immolate the loom of destiny. The only thing certain is
          uncertainty.
        </p>
      </div>
      <a href="tarot/questionaire"><img src="static/images/tarot_back.jpg" class="img-rounded" alt="card back"></a>

    </div>
    <br>

    <div class="row wall">
      <div class="col-md-12">
        <h2 class="wall_title col-md-12">Tarot Feed</h2>
        <div class="row">
          {% for r in readings reversed %}
          <div  class="col-md-3">
            <img src="static/{{r.image}}" class="img-rounded popout img-fluid" alt="card">
            <div class="overlay">
              <div class="card_name"><b>{{r.cardname}}</b></div>
              <div class="user_name">
                <h2><a href="/user/{{r.user.id}}">{{r.user.first_name}} {{r.user.last_name}}</a></h2>
                <i>
                  <p>{{r.user.city_state}}</p>
                </i>
              </div>
              <div class='likes'>
                <h2><a href='/reading/{{r.id}}/like'>&#10084;</a>
                  {{r.likes.all|length}}</h2>
                <p>{% if request.session.user_id == r.user.id %}
                  <a href='/reading/{{r.id}}/delete'>Delete</a></p>
                  {% endif %}
              </div>
              </div>
            </div>
            
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

  </body>

</html>